.hmsSearchButton {
    display: inline-block;
    height: 28px !important;
    *display: inline;
    padding: 3px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #535353;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.hmsSearchButton:hover,
.hmsSearchButton:focus,
.hmsSearchButton:active,
.hmsSearchButton.active,
.hmsSearchButton.disabled,
.hmsSearchButton[disabled] {
    color: #2283c5;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.hmsSearchButton:active,
.hmsSearchButton.active {
    background-color: #cccccc      \9;
}

.hmsSearchButton:first-child {
    *margin-left: 0;
}

.hmsSearchButton:hover,
.hmsSearchButton:focus {
    color: #222222;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.hmsSearchButton:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.hmsSearchButton.active,
.hmsSearchButton:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.hmsSearchButton.disabled,
.hmsSearchButton[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.hmsSearchListBox {
    border-color: #acacac;
    border-width: 1px;
    width: 120px;
    height: 28px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    font-size: 13px;
    color: #666 !important;
    z-index: 11;
    -webkit-transition: width ease .15s;
    -moz-transition: width ease .15s;
    -o-transition: width ease .15s;
    transition: width ease .15s width : 150 px;
    margin-left: 3px;
    margin-right: 10px;
}

.hmsSearchListBoxMobile {
    border-color: #acacac;
    border-width: 1px;
    width: 100%;
    height: 28px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    font-size: 13px;
    color: #666 !important;
    z-index: 11;
    -webkit-transition: width ease .15s;
    -moz-transition: width ease .15s;
    -o-transition: width ease .15s;
    transition: width ease .15s width : 150 px;
}

.hmsSearchTextBoxMobile {
    border: 1px solid #acacac;
    width: 100%;
    height: 28px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    font-size: 13px;
    color: #666 !important;
    z-index: 11;
    -webkit-transition: width ease .15s;
    -moz-transition: width ease .15s;
    -o-transition: width ease .15s;
    transition: width ease .15s width : 150 px;
}

.featuredAppThumbnail {
    width: 75px;
    height: 75px;
    /*background-image: url("../img/sample-app-icon.png");*/
    /*background-position: center;*/
}

.panelSelectionEditHelpIcon {
    text-decoration: no-underline;
    margin-right: 3px;
}

.panelSelectionEditHelpIcon:hover {
    text-decoration: no-underline;
}

.page-content {
    padding: 0px;
}

.floatingmodel {
    margin-top: -40px;
    height: 600px;
}

.floatingmodelbody {
    max-height: 550px;
}

.appeditfloatingbody {
    max-height: 490px;
}

.remarkstextBox {
    width: 515px;
    height: 50px;
    resize: none;
}

.container-fluid {
    padding-right: 0px;
}

.table {
    letter-spacing: 0.02em;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {
    list-style: none;
    /*position: relative;*/
}

.ui-autocomplete li a {
    display: block;
    text-decoration: none;
}

#appSuggestionList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.featureAppSuggestionAppBlock {
    list-style-type: none;
    height: auto;
    width: 100%;
    max-width: 350px;
    float: left;
    margin-bottom: 5px;
    background-color: #F2FAEF;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    /*border-radius: 10px;*/
}

.featureAppSuggestionAppBlock:hover {
    background-color: #E7F4E1;
}

.featuredAppSuggetionThumbnail {
    width: 60px;
    height: 60px;
    float: left;
    padding: 5px;
    /*background-color: #c06090;*/
}

.featuredAppSuggetionThumbnailImage {
    width: 60px;
    height: 60px;
    float: left;
    /*background-color: #c06090;*/
}

.featureAppSuggestionDetails {
    width: 75%;
    height: auto;
    padding-left: 5px;
    padding-bottom: 5px;
    /*background-color: #c0c2c5;*/
    float: left;
}

.featuredAppSelectedAppBlock {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 5px;
    background-color: #8AC16C;
    margin: 5px;
    list-style-type: armenian;
}

#selectedFeaturedApps {
    width: 100%;
    max-width: 660px;
    height: auto;
    float: left;
    z-index: 50;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: #D8D8D8;*/
}

.selectedFeaturedAppsActive {
    width: 100%;
    max-width: 645px;
    height: auto;
    float: left;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #A1A1A1;
}

.selectedFeaturedAppsHover {
    width: 100%;
    max-width: 645px;
    height: auto;
    float: left;
    background-color: #FDFDFD;
    border-color: #DDDDDD;
    border-width: 1px;
    border-style: solid;
}

.selectedfeatureAppOl {
    list-style-type: none;
    margin: 0;
    width: 100%;
    max-width: 645px;
    height: auto;
    /*background-color: #c06090;*/
    float: left;
}

.appsToBeFeaturedTitle {
    font-weight: bold;
    text-align: left;
}

.appsToBeFeaturedCategory {
    font-size: 12px;
    color: #6E6E6E;
}

.featuredAppAreaPlaceHolder {
    width: 97%;
    height: auto;
    float: left;
    margin: 10px;
    background-color: #fafafa;
    border-color: #BFBFBF;
    border-style: dashed;
    border-width: 1px;
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: 35px;
    text-align: center;
    color: #D8D8D8;
}

.selectedImgInAppAera {
    width: 150px;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    margin-top: 5px;
    overflow: hidden;
}

.selectedImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.test {
    width: 150px;
    height: 217px;
    background-color: #f5f5f5;
    float: left;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #e8e8e8;
}

.featuredAppList {
    list-style-type: none;
    margin: 0;
}

.testHover {
    width: 100%;
    height: 100%;
    float: left;

    border-color: #909090;
    border-width: 1px;
    border-style: dashed;
}

.testAccept {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    float: left;
}

.testdropped {
    width: 100%;
    height: 100%;
    background-color: #e0c43a;
    border-color: #0a0b0b;
    border-width: 5px;
    border-style: solid;
}

.dropPlaceHolder {
    text-align: center;
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 75px;
    /*background-color: #df4c36;*/
}

.dropPlaceHolderNum {
    text-align: center;
    border-width: 3px;
    border-color: #d8d8d8;
    border-style: solid;
    color: #d8d8d8;
    width: 40px;
    height: 30px;
    font-size: 2.5em;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-top: 10px;
    margin-left: 50px;
}

.dropPlaceHolderText {
    text-align: center;
    color: #c5c5c5;
    font-size: 1.2em;

}

.featuredAppRemoveButton {
    margin-top: -10px;
    margin-left: -18px;
    position: absolute;
    color: #a0a0a0;
    /* IE 8 */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
    /* IE 5-7 */
    /*filter: alpha(opacity=50);*/
    /* Netscape */
    /*-moz-opacity: 0.5;*/
    /* Safari 1.x */
    /*-khtml-opacity: 0.5;*/
    /* Good browsers */
    /*opacity: 0.5;*/
}

.appEditErrorNotification {
    margin-top: 10px;
}

.image-select-class {
    width: 100px;
    height: 100px;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    float: left;
    text-align: center;
    color: #979797;
    /*padding-top:30px;*/
    margin-left: 10px;
    overflow: hidden;

}

.image-select-class:hover {
    background-color: #ededed;
    border: 1px solid #d1d1d1;
    color: #8f8f8f;
}

.image-select-icon {
    color: #D7D7D7;
}

.progressPercent {
    margin-top: 25px;
    color: #c9c9c9;
}

.progressBar {
    background-color: #c9c9c9;
    height: 9px;
}

.loading_spinner {
    margin-bottom: 5px;
}

label.error {
    color: #B91D47;
}

.appViewImage {
    width: 130px;
    float: left;
    margin-right: 3px;
}

/*.modal-header{*/
/*background-color: #e1e1e1;*/
/*}*/

a {
    color: #747474;
}

a:hover {
    color: #e60000;
}

.vdf_logo_tl {
    float: left;
    height: 30px;
    padding: 2px;
    margin:5px;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

form.form-search a.dropdown-toggle span.label{
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
form.form-search a.dropdown-toggle{
    margin-right: 5px;
}
form.form-search a.dropdown-toggle:hover{
    text-decoration: none;
}
.panel_sel_border{
    border: 1px solid #d3d3d3;
}

.badge-custom {
    background-color: #377193 !important;
}

.ace-nav>li {
    border-left: 1px solid #377193 !important;
}

.ace-nav>li:hover {
    border-left: 1px solid #377193 !important;
    background: #377193 !important;
}