

/*#features {
			margin: auto;
			width: 460px;
			font-size: 0.9em;
		}*/

.connected, .sortable, .exclude, .handles, .dropme {
    margin: auto;
    padding: 0;
    width: 700px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropme.grid { overflow: hidden; }

.connected li, .sortable li, .exclude li, .handles li, .dropme li {
    list-style: none;
    border: 1px solid #CCC;
    color: black;
    margin: 5px;
    padding: 5px;
    height: 35px;
}

.fl { float: left; }

.handles span { cursor: move; }

li.disabled { opacity: 0.5; }

.dropme.grid li {
    line-height: 80px;
    float: left;
    width: 200px;
    height: 70px;
    text-align: center;
}

li.highlight { background: #FEE25F; }

#connected {
    width: 440px;
    overflow: hidden;
    margin: auto;
}

.connected {
    float: left;
    width: 200px;
}

.connected.no2 { float: right; }

li.drop-replacer {
    border: 1px dashed #CCC;
    background: none;
}

.dragIcon {
    display: inline-block;
    background: url(../resources/drag-icon.png) no-repeat 0 0;
    vertical-align: top;
    overflow: hidden;
    width: 56px;
    height: 56px;
    margin-top: 20px
}

.appLiClose{
    float: right;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}